<h1>Stupid coaching 🚀</h1>

<div class='you'>
    <%= @answer %>
    <p><em>- You</em></p>
</div>
<br>
<div class='your-coach'>
    <%= @response %>
    <p><em>- Your coach</em></p>
</div>
<br>
<%= link_to 'Ask again', ask_path %>

